name = "decision-api"
main = "src/index.ts"
compatibility_date = "2026-02-22"

[vars]
ENV = "dev"
POLICY_VERSION = "v1"
ENGINE_VERSION = "v0.1.0"
REQUIRE_TRIGGERS = "true"
REQUIRE_GATING = "true"

[env.stage]
vars = { ENV = "stage", POLICY_VERSION = "v1", ENGINE_VERSION = "v0.1.0", REQUIRE_TRIGGERS = "true", REQUIRE_GATING = "true" }

[[env.stage.d1_databases]]
binding = "DB"
database_name = "decision_authority_stage"
database_id = "cf1c8b23-081a-49cc-8652-95ad611adcc4"

[[env.stage.r2_buckets]]
binding = "R2"
bucket_name = "decision-authority-artifacts-stage"

[env.prod]
vars = { ENV = "prod", POLICY_VERSION = "v1", ENGINE_VERSION = "v0.1.0", REQUIRE_TRIGGERS = "true", REQUIRE_GATING = "true" }

[[env.prod.d1_databases]]
binding = "DB"
database_name = "decision_authority_prod"
database_id = "48fabd29-f707-4b68-8f4c-ee8cde3b0504"

[[env.prod.r2_buckets]]
binding = "R2"
bucket_name = "decision-authority-artifacts-prod"
