name = "admin-api"
main = "src/index.ts"
compatibility_date = "2026-02-22"

[vars]
ENV = "dev"

[env.stage]
vars = { ENV = "stage" }

[[env.stage.d1_databases]]
binding = "DB"
database_name = "decision_authority_stage"
database_id = "cf1c8b23-081a-49cc-8652-95ad611adcc4"

[[env.stage.r2_buckets]]
binding = "R2"
bucket_name = "decision-authority-artifacts-stage"

[env.prod]
vars = { ENV = "prod" }

[[env.prod.d1_databases]]
binding = "DB"
database_name = "decision_authority_prod"
database_id = "48fabd29-f707-4b68-8f4c-ee8cde3b0504"

[[env.prod.r2_buckets]]
binding = "R2"
bucket_name = "decision-authority-artifacts-prod"
